@model Webhelp.Rh.Web.ViewModel.VacancyViewModel

@{
	ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Vacancy", FormMethod.Post))
{
    <h2>Criar Vaga</h2>

    <div class="form-group">
        <label for="Name">Nome da Vaga</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        <label for="Technologies">Tecnologias</label>
        @Html.ListBoxFor(model => model.Technologies, (MultiSelectList)ViewBag.listTechnologies, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Technologies)
    </div>

    <div class="pt-2 float-left">
        <div class="col btn-group">
            <input type="submit" value="Salvar" class="btn btn-primary rounded mr-2"/>
            <div>
                @Html.ActionLink("Voltar para a Listagem", "Index", "Vacancy", null, new { @class = "btn btn-primary rounded" })
            </div>
        </div>
    </div>
}

